<footer class="footer footer-static footer-light">
  <p class="clearfix text-muted text-center px-2"><span>&copy; 2018  کپی رایت  <a href="https://fkazemi5236@gmail.com/" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2"> fkazemi5236 </a>,همه حقوق محفوظ است </span></p>
</footer>
