<div class="wrapper">
  <!--Registration Page Starts-->
  <section id="regestration">
    <div class="container-fluid">
      <div class="row full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
          <div class="card px-4 py-2 box-shadow-2">
            <div class="card-header text-center">
              <img src="img/logos/logo-color-big.png" alt="company-logo" class="mb-3" width="80">
              <h4 class="text-uppercase text-bold-400 grey darken-1">ثبت نام</h4>
            </div>
            <div class="card-body">
              <div class="card-block mx-auto">
                <form>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="text" class="form-control form-control-lg" name="fname" id="fname" placeholder="نام">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="text" class="form-control form-control-lg" name="lname" id="lname"
                        placeholder="نام خانوادگی">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="email" class="form-control form-control-lg" name="inputEmail" id="inputEmail"
                        placeholder="ایمیل">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="password" class="form-control form-control-lg" name="inputPass" id="inputPass"
                        placeholder="رمز عبور">
                    </div>
                  </div>
                  <div class="form-group col-sm-offset-1">
                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input type="checkbox" class="custom-control-input" checked id="terms">
                      <label class="custom-control-label pl-2" for="terms">موافقم<a>شرایط و ضوابط</a></label>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="button"
                      class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0">شروع
                      کنید</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Registration Page Ends-->
</div>
