<div data-active-color="white" data-background-color="primary" data-image="" class="app-sidebar">
  <div class="sidebar-header">
    <div class="logo clearfix">
      <a href="index-2.html" class="logo-text float-right">
        <div class="logo-img">
          <img src="../assets/logo.png" alt="Convex Logo" />
        </div>
        <span class="text align-middle">CONVEX</span>
      </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i
          data-toggle="collapsed" class="ft-circle toggle-icon"></i></a><a id="sidebarClose" href="javascript:;"
        class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="nav-container">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-home"></i><span data-i18n="" class="menu-title">داشبورد</span><span
              class="tag badge badge-pill badge-danger mt-1">2</span></a>
          <ul class="menu-content">
            <li class="active">
              <a href="dashboard-ecommerce.html" class="menu-item">تجارت الکترونیک</a>
            </li>
            <li>
              <a href="dashboard-analytics.html" class="menu-item">تجزیه و تحلیل</a>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-screen-desktop"></i><span data-i18n="" class="menu-title">برنامه ها</span></a>
          <ul class="menu-content">
            <li>
              <a href="chat.html" class="menu-item">گفت و گو</a>
            </li>
            <li>
              <a href="taskboard.html" class="menu-item">تابلو وظایف</a>
            </li>
            <li>
              <a href="calendar.html" class="menu-item">تقویم</a>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-magnet"></i><span data-i18n="" class="menu-title">بسته رابط کاربری</span></a>
          <ul class="menu-content">
            <li>
              <a href="color-palette.html" class="menu-item">پالت رنگ</a>
            </li>
            <li>
              <a href="grids.html" class="menu-item">شبکه ای</a>
            </li>
            <li>
              <a href="typography.html" class="menu-item">تایپوگرافی</a>
            </li>
            <li>
              <a href="syntax-highlighter.html" class="menu-item">برجسته کردن نحوه نوشتن</a>
            </li>
            <li>
              <a href="helper-classes.html" class="menu-item">کلاس های کمک کننده</a>
            </li>
            <li>
              <a href="text-utilities.html" class="menu-item">نرم افزار متن</a>
            </li>
            <li class="has-sub">
              <a href="#" class="menu-item">آیکن</a>
              <ul class="menu-content">
                <li>
                  <a href="feather.html" class="menu-item">آیکن توپر</a>
                </li>
                <li>
                  <a href="font-awesome.html" class="menu-item">آیکن با فونت های معروف</a>
                </li>
                <li>
                  <a href="simple-line.html" class="menu-item"> آیکن خطی ساده </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class=" nav-item">
          <a href="cards.html"><i class="icon-layers"></i><span data-i18n="" class="menu-title">کارت ها</span></a>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-puzzle"></i><span data-i18n="" class="menu-title">اجزاء</span></a>
          <ul class="menu-content">
            <li class="has-sub">
              <a href="#" class="menu-item">بوت استرپ</a>
              <ul class="menu-content">
                <li>
                  <a href="components-lists.html" class="menu-item">لیست</a>
                </li>
                <li>
                  <a href="components-buttons.html" class="menu-item">دکمه</a>
                </li>
                <li>
                  <a href="components-alerts.html" class="menu-item">هشدار</a>
                </li>
                <li>
                  <a href="components-badges.html" class="menu-item">نشان</a>
                </li>
                <li>
                  <a href="components-dropdowns.html" class="menu-item">لیست کشویی</a>
                </li>
                <li>
                  <a href="components-inputgroups.html" class="menu-item">گروه های ورودی</a>
                </li>
                <li>
                  <a href="components-media-objects.html" class="menu-item">اشیاء رسانه ای</a>
                </li>
                <li>
                  <a href="components-pagination.html" class="menu-item">صفحه بندی</a>
                </li>
                <li>
                  <a href="components-progress.html" class="menu-item"> میله پیشرفت</a>
                </li>
                <li>
                  <a href="components-modals.html" class="menu-item">مدال</a>
                </li>
                <li>
                  <a href="components-collapse.html" class="menu-item">سقوط</a>
                </li>
                <li>
                  <a href="components-accordion.html" class="menu-item">آکاردئون</a>
                </li>
                <li>
                  <a href="components-carousel.html" class="menu-item">اسلایدر</a>
                </li>
                <li>
                  <a href="components-datepicker.html" class="menu-item">انتخاب تاریخ و زمان</a>
                </li>
                <li>
                  <a href="components-popover.html" class="menu-item">اعلان</a>
                </li>
                <li>
                  <a href="components-tooltip.html" class="menu-item">راهنمایی</a>
                </li>
                <li>
                  <a href="components-tabs.html" class="menu-item">تب</a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <a href="#" class="menu-item">فوق العاده</a>
              <ul class="menu-content">
                <li>
                  <a href="sweet-alerts.html" class="menu-item">هشدار شیرین</a>
                </li>
                <li>
                  <a href="toastr.html" class="menu-item">توستر</a>
                </li>
                <li>
                  <a href="upload.html" class="menu-item">بارگذاری</a>
                </li>
                <li>
                  <a href="editor.html" class="menu-item">ویرایشگر</a>
                </li>
                <li>
                  <a href="dragndrop.html" class="menu-item">کشیدن و انداختن</a>
                </li>
                <li>
                  <a href="tour.html" class="menu-item">تور</a>
                </li>
                <li>
                  <a href="tags-input.html" class="menu-item">برچسب ورودی</a>
                </li>
                <li>
                  <a href="switch.html" class="menu-item">تعویض</a>
                </li>
                <li>
                  <a href="rating.html" class="menu-item">رتبه بندی</a>
                </li>
                <li>
                  <a href="typeahead.html" class="menu-item">تایپ</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-doc"></i><span data-i18n="" class="menu-title">فرم</span><span
              class="tag badge badge-pill badge-primary mt-1">جدید</span></a>
          <ul class="menu-content">
            <li class="has-sub">
              <a href="#" class="menu-item">عناصر</a>
              <ul class="menu-content">
                <li>
                  <a href="inputs.html" class="menu-item">ورودی</a>
                </li>
                <li>
                  <a href="input-groups.html" class="menu-item">گروه های ورودی</a>
                </li>
                <li>
                  <a href="input-grid.html" class="menu-item">شبکه ورودی</a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <a href="#" class="menu-item">پوسته</a>
              <ul class="menu-content">
                <li>
                  <a href="basic-forms.html" class="menu-item">فرم های پایه</a>
                </li>
                <li>
                  <a href="horizontal-forms.html" class="menu-item">فرم افقی</a>
                </li>
                <li>
                  <a href="hidden-labels.html" class="menu-item">برچسب های مخفی</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="validation-forms.html" class="menu-item">اعتبار سنجی</a>
            </li>
            <li>
              <a href="wizard-forms.html" class="menu-item">جادویی</a>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-grid"></i><span data-i18n="" class="menu-title">جدول</span></a>
          <ul class="menu-content">
            <li>
              <a href="regular-table.html" class="menu-item">منظم</a>
            </li>
            <li>
              <a href="extended-table.html" class="menu-item">گسترده</a>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-notebook"></i><span data-i18n="" class="menu-title">جدول داده</span></a>
          <ul class="menu-content">
            <li>
              <a href="dt-basic-initialization.html" class="menu-item">آغازگر اولیه</a>
            </li>
            <li>
              <a href="dt-advanced-initialization.html" class="menu-item">آغازگر پیشرفته</a>
            </li>
            <li>
              <a href="dt-styling.html" class="menu-item">ظاهر طراحی شده</a>
            </li>
            <li>
              <a href="dt-data-sources.html" class="menu-item">منابع داده</a>
            </li>
            <li>
              <a href="dt-api.html" class="menu-item">رابط‌ نرم‌افزار</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item">
          <a href="google-map.html"><i class="icon-map"></i><span data-i18n="" class="menu-title">نقشه گوگل</span></a>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-pie-chart"></i><span data-i18n="" class="menu-title">نمودار</span><span
              class="tag badge badge-pill badge-success white mt-1">2</span></a>
          <ul class="menu-content">
            <li>
              <a href="chartist.html" class="menu-item">چارتیست</a>
            </li>
            <li>
              <a href="chartjs.html" class="menu-item">نمودار با جاوااسکریپت</a>
            </li>
          </ul>
        </li>
        <li class="has-sub nav-item">
          <a href="#"><i class="icon-docs"></i><span data-i18n="" class="menu-title">صفحات</span></a>
          <ul class="menu-content">
            <li>
              <a href="forgot-password-page.html" class="menu-item">رمز عبور را فراموش کرده اید</a>
            </li>
            <li>
              <a href="horizontal-timeline-page.html" class="menu-item">خط زمانی افقی</a>
            </li>
            <li>
              <a href="vertical-timeline-page.html" class="menu-item">خط زمانی عمودی</a>
            </li>
            <li>
              <a href="login-page.html" class="menu-item">ورود</a>
            </li>
            <li>
              <a href="register-page.html" class="menu-item">ثبت نام</a>
            </li>
            <li>
              <a href="user-profile-page.html" class="menu-item">مشخصات کاربر</a>
            </li>
            <li>
              <a href="lock-screen-page.html" class="menu-item">قفل صفحه</a>
            </li>
            <li>
              <a href="invoice-page.html" class="menu-item">فاکتور</a>
            </li>
            <li>
              <a href="error-page.html" class="menu-item">خطا</a>
            </li>
            <li>
              <a href="coming-soon-page.html" class="menu-item">به زودی</a>
            </li>
            <li>
              <a href="maintenance-page.html" class="menu-item">نگهداری</a>
            </li>
            <li>
              <a href="gallery-page.html" class="menu-item">گالری</a>
            </li>
            <li>
              <a href="search.html" class="menu-item">جستجو</a>
            </li>
            <li>
              <a href="faq.html" class="menu-item">سوالات متداول</a>
            </li>
            <li>
              <a href="knowledge-base.html" class="menu-item">دانش محور</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item">
          <a href="http://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/documentation"><i
              class="icon-book-open"></i><span data-i18n="" class="menu-title">مستندات</span></a>
        </li>
        <li class=" nav-item">
          <a href="https://pixinvent.ticksy.com/"><i class="icon-support"></i><span data-i18n=""
              class="menu-title">پشتیبانی</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-background"></div>
</div>
